CREATE TABLE [dbo].[COPIAS](
	[NRO_LIBRO] [int] NOT NULL,
	[NRO_COPIA] [smallint] NOT NULL,
	[ESTADO] [char](1) NULL,
 CONSTRAINT [PK_COPIAS] PRIMARY KEY CLUSTERED 
(
	[NRO_LIBRO] ASC,
	[NRO_COPIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LECTOR]    Script Date: 25/11/2020 13:22:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LECTOR](
	[NRO_LECTOR] [int] NOT NULL,
	[NOMBRE] [char](22) NULL,
	[DIRECCION] [char](30) NULL,
	[TRABAJO] [char](10) NULL,
	[SALARIO] [smallmoney] NULL,
	[ESTADO] [char](1) NULL,
 CONSTRAINT [PK_LECTOR] PRIMARY KEY CLUSTERED 
(
	[NRO_LECTOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIBRO]    Script Date: 25/11/2020 13:22:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIBRO](
	[NRO_LIBRO] [int] NOT NULL,
	[TITULO] [char](40) NULL,
	[AUTOR] [char](30) NULL,
	[TIPO] [char](2) NULL,
	[PRECIO_ORI] [smallmoney] NULL,
	[PRECIO_ACT] [smallmoney] NULL,
	[EDICION] [smallint] NULL,
	[ESTADO] [char](1) NULL,
 CONSTRAINT [PK_LIBRO] PRIMARY KEY CLUSTERED 
(
	[NRO_LIBRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRESTAMO]    Script Date: 25/11/2020 13:22:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRESTAMO](
	[NRO_LECTOR] [int] NOT NULL,
	[NRO_LIBRO] [int] NOT NULL,
	[NRO_COPIA] [smallint] NOT NULL,
	[F_PREST] [datetime] NOT NULL,
	[F_DEVOL] [datetime] NULL,
 CONSTRAINT [PK_PRESTAMO] PRIMARY KEY CLUSTERED 
(
	[NRO_LECTOR] ASC,
	[NRO_LIBRO] ASC,
	[NRO_COPIA] ASC,
	[F_PREST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOLIBRO]    Script Date: 25/11/2020 13:22:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOLIBRO](
	[TIPO] [char](2) NOT NULL,
	[DESCTIPO] [char](40) NULL,
 CONSTRAINT [PK_TIPOLIBRO] PRIMARY KEY CLUSTERED 
(
	[TIPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO